# exclude personal settings for the project (wifi credentials, etc.) -> copy initially from "_USER_DEFINES - empty.h" to "_USER_DEFINES.h"
**/_USER_DEFINES.h
_USER_DEFINES.h

# Created by https://www.toptal.com/developers/gitignore/api/platformio,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=platformio,visualstudiocode

### PlatformIO ###
**/.pioenvs
**/.piolibdeps
**/.clang_complete
**/.gcc-flags.json
**/.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio

### VisualStudioCode ###
**/.vscode/*
**/.vscode
.vscode/*
.vscode

### Local History for Visual Studio Code ###
**/.history/
.history

### Built Visual Studio Code Extensions ###
**/*.vsix
*.vsix

### VisualStudioCode Patch ###
**/.ionide
.ionide

# End of https://www.toptal.com/developers/gitignore/api/platformio,visualstudiocode

# But allow specific VS Code files to be committed
!**/.vscode/extensions.json
!**/.vscode/tasks.json
!.vscode/extensions.json
!.vscode/tasks.json

# ignore the auto generated .gitignore file in the PIO folder
**/EleksTubeHax_pio/.gitignore
EleksTubeHax_pio/.gitignore

# ignore artifacts from "act" (GitHub Actions locally)
**/.act_artifacts
.act_artifacts
