CONFIG_HEAP_POISONING_DISABLED=n
CONFIG_HEAP_POISONING_LIGHT=y
# oder CONFIG_HEAP_POISONING_COMPREHENSIVE=y für maximalen Schutz (langsamer/großer RAM-Verbrauch)
CONFIG_HEAP_TASK_TRACKING=y
CONFIG_ARDUINO_LOOP_STACK_SIZE=16384